__pycache__
.vscode
*.csv
*.xdf
*.dll
*.zip
*.rar
*.xlsx
*.png
*.tfrecord
*.pkl
*.sbatch
*.out
Artinis Data/*
MWL-Detection/HPO/*
MWL-Detection/Data/*
MWL-Detection/Models/model1.py
MWL-Detection/random_tests.py
